/************************star filter css***********************/
.portfolio-row.portfolio-filter-row {
  margin-bottom: 30px;
}

.qc_filter {
	margin: 0;
	padding: 0;
}
.qc_filter li {
	display: inline-block;
	margin: 0 !important;
}

.qc_filter li:not(:first-child) {
	margin-left: -5px !important;
	border-left: 1px solid #fff;
}

.qc_filter li a {
	border-radius: 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	line-height: 16px;
	display: block;
	padding: 12px 20px;
	color:#000;
	background-image: linear-gradient(to right, #e3e3e3 50%, #e3dbff 50%);
    background-size: 200% 100%;
	-webkit-transition: background 0.5s ease;
	-moz-transition: background 0.5s ease;
	-o-transition: background 0.5s ease;
	transition: background 0.5s ease;
}

.qc_filter li:first-child a{
	/*Firefox*/
	-moz-border-top-left-radius: 10px;
	-moz-border-top-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-moz-border-bottom-left-radius: 10px;
	/*Safari, Chrome*/
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 10px;
}

.qc_filter li:last-child a{
	/*Firefox*/
	-moz-border-top-left-radius: 0px;
	-moz-border-top-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 0px;
	/*Safari, Chrome*/
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 0px;
}

.qc_filter li a:hover, .qc_filter li.qcld_portfolio_activate a {
	    /*background-position: -100% 0;*/
		color:#756b6b;
}
/*************end filter css***********/

/* ============================================================
  CUSTOM PAGINATION
============================================================ */

.portfolio-pagination {
	padding-top: 30px;
	text-align: center;
	clear: both;
}

.portfolio-tpl-01 .portfolio-pagination {
	padding-top: 80px;
	text-align: center;
}

.custom-pagination span, .custom-pagination a {
	display: inline-block;
	-moz-border-radius: 90px; /*Firefox*/
	-webkit-border-radius: 90px; /*Safari, Chrome*/
	border-radius: 90px;
	margin: 5px;
	font-size: 16px;
	width: 50px;
	height: 50px;
	line-height: 50px !important;
	background: url("../images/pagination-bg.png") no-repeat center;
	background-size: 50%;
	color: #000000;
	-webkit-transition: all 0.5s linear !important; /* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s linear !important; /* Firefox 4-15 */
	-o-transition: all 0.5s linear !important; /* Opera 10.5-12.00 */
	transition: all 0.5s linear !important; /* Firefox 16+, Opera 12.50+ */
	position: relative;
	-webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: inherit !important;
    color: #000000 !important;
    padding: 0 12px !important;
    float: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}
.custom-pagination span:after, .custom-pagination a:after {
	border: 3px solid #e3e3e3;
	-moz-border-radius: 90px; /*Firefox*/
	-webkit-border-radius: 90px; /*Safari, Chrome*/
	border-radius: 90px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
}
.custom-pagination a {
	text-decoration: none;
}
.custom-pagination a:hover {
	background-size: 100%;
}
.custom-pagination span.page-numbers {
	background: url("../images/pagination-bg-active.png") no-repeat center;
	color: #ffffff;
}

.custom-pagination .page-total {
	width: inherit !important;
}

/*******************************
 * End of Pagination
 *******************************/

 /*******************************
  * Single Page CSS
  *******************************/
 /***************STAR SINGLE PAGE CSS*************************/

.portfolio-single-container {

}

.portfolio-single-col {
	width: 50%;
	display: inline-table;
	float: left;
	height: 300px;
	min-height: 100px;
}
.single-content-area {
	position: relative;
}
.padding-content {
	position: relative;
}
.single .portfolio-single-container {
	padding: 15px;
}
.single .portfolio-single-content {
	left: 0;
	position: static;
	top: 0;
	transition: margin 0.4s ease-in-out 0s;
	width: inherit;
	padding-right: 20px;
	line-height: 24px;
}
.portfolio-single-content {
	left: 6%;
	position: fixed;
	top: 12%;
	transition: margin 0.4s ease-in-out 0s;
	width: calc(50% - 240px);
}
.single-portfolio-header {
	padding-bottom: 30px;
}
.single-portfolio-header h2 {
	font-family: 'Raleway', sans-serif !important;
}
.portfolio-single-content {
	font-family: 'Raleway', sans-serif !important;
	transition: margin 0.4s ease-in-out 0s;
}
.portfolio-single-content p {
	margin: 8px 0;
}
.portfolio-single-content ul {
	margin: 0;
	padding: 0;
}
.portfolio-single-content ul li {
	list-style: none;
	display: inline-block;
}
.portfolio-single-content ul li a {
	display: block;
	color: inherit;
	text-decoration: none;
}
.single-portfolio-header h2.single-portfolio-title {
	margin-top: 0;
	margin-bottom: 15px;
}
.category {
	padding: 15px 0;
}
.single-portfolio-description {
	max-width: 560px;
	line-height: 26px;
	padding: 20px 0 30px;
}
.single-portfolio-header ul li a {
	font-size: 80%;
}
.single-portfolio-footer {
	padding-right: 150px;
	position: relative;
}
.portfolio-projects-nav {
	height: 100%;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	width: 114px;
}
.single-portfolio-footer .portfolio-projects-nav > a {
	border-radius: 50%;
	display: inline-block;
	position: absolute;
	text-align: center;
}
.single-portfolio-footer .portfolio-projects-nav > a.next {
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.single-portfolio-footer .portfolio-projects-nav > a.prev {
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.single-portfolio-footer .portfolio-projects-nav > a .icon {
	border-radius: 50%;
	height: 46px;
	line-height: 46px;
	position: relative;
	transition: all 0.2s ease-in-out 0s;
	width: 46px;
}
.single-portfolio-footer .portfolio-projects-nav > a .icon i {
	transition: all 0.2s ease-in-out 0s;
}
.single-portfolio-footer .portfolio-projects-nav > a .icon span {
	font-size: 10px;
	font-weight: 700;
	left: 50%;
	opacity: 0;
	position: absolute;
	text-transform: uppercase;
	top: 50%;
	transform: translate(-50%, -48%);
	transition: all 0.2s ease-in-out 0s;
}
.single-portfolio-footer .portfolio-projects-nav > a:hover .icon i {
	opacity: 0;
}
.single-portfolio-footer .portfolio-projects-nav > a:hover .icon span {
	opacity: 1;
}
.web-link a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: all 0.5s linear; /* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s linear; /* Firefox 4-15 */
	-o-transition: all 0.5s linear; /* Opera 10.5-12.00 */
	transition: all 0.5s linear; /* Firefox 16+, Opera 12.50+ */
}
.web-link a i {
	-webkit-transition: all 0.5s linear; /* Safari 3.2+, Chrome */
	-moz-transition: all 0.5s linear; /* Firefox 4-15 */
	-o-transition: all 0.5s linear; /* Opera 10.5-12.00 */
	transition: all 0.5s linear; /* Firefox 16+, Opera 12.50+ */
	font-size: 90%;
}
.web-link a:hover i {
	padding-left: 6px;
}

/*Parallax CSS*/

.portfolio-parallax-section {
	position: relative;
}
.portfolio-item {
	position: relative;
	clear: both;
}
.clear {
	clear: both;
}
.parallax-element {
	transition: transform 2s cubic-bezier(0, 0, 0, 1) 0s;
}
/*portfolio-fancy-container*/

.portfolio-fancy-container {
	padding: 80px;
}

/*******************************
 * End of Single Page CSS
 *******************************/

/*******************************
 * FancyBox CSS
 *******************************/
.fancybox-overlay {
	background-color: #F7F7F7;
}
.portfolio-single-container {
	background-color: #F7F7F7;
	color: #797979;
}
.single-portfolio-title {
	color: #797979;
	font-size: 1.5em;
}
.single-portfolio-footer h3 {
	color: #797979;
}
.social-icons ul li a:hover {
	background: #d7d7d7;
	color: #FFF;
}
.portfolio-projects-nav {
	border-left: 2px solid #f2f2f2;
}
.single-portfolio-footer .portfolio-projects-nav > a {
	color: #1f2021;
}
.single-portfolio-footer .portfolio-projects-nav > a .icon {
	background: #e6e6e6 none repeat scroll 0 0;
}
.single-portfolio-footer .portfolio-projects-nav > a .icon span {
	color: #fff;
}
.single-portfolio-footer .portfolio-projects-nav > a:hover .icon {
	background: #1f2021 none repeat scroll 0 0;
}
.single-portfolio-footer h3 {
	font-size: 18px;
}
/*******************************
 * End of FancyBox CSS
 *******************************/

 /*******************************
  * Hover Effect
  *******************************/ 
@keyframes effect1 {
 0% {
 background-color: rgba(0, 7, 10, 0.1);
}
 100% {
 background-color: rgba(215, 232, 239, 0.4);
}
}
.hover-effect1 {
	background: rgba(215, 232, 239, 0.4);
	bottom: 25%;
	left: 25%;
	right: 25%;
	top: 25%;
	opacity: 0;
	position: absolute;
	transform: scale(1);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.hover-effect1 i.fa {
	color: #9bd1ea;
}
.hover-effect1 a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}
.hover-effect1 i.fa {
	color: #35b4ef;
	margin: 49.5% auto;
	font-size: 25px;
}

.qc-grid-portfolio-img:hover .hover-effect1, .qc-grid-showcase-img:hover .hover-effect1, .showcase-slider-item-inner:hover .hover-effect1 {
	opacity: 1;
	transform: scale(2);
	animation-name: effect1;
	animation-duration: .5s;
}
  /*******************************
  * End of Hover Effect
  *******************************/
  
/*New Hover Effect*/
.qc-grid-hover-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 0%;
    visibility: hidden;
    -webkit-transition: all 0.5s linear; /* Safari 3.2+, Chrome */
    -moz-transition: all 0.5s linear; /* Firefox 4-15 */
    -o-transition: all 0.5s linear; /* Opera 10.5-12.00 */
    transition: all 0.5s linear; /* Firefox 16+, Opera 12.50+ */
}

.qc-grid-hover-effect-button {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 100%;
}

.portfolio-fire-hover:hover .qc-grid-hover-effect {
    visibility: visible;
    background: rgba(0, 0, 0, 0.7);
}

.qc-grid-hover-effect .qc-grid-hover-effect-button-area {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 0;
}

.qc-grid-hover-effect-button-area a {
    display: inline-block;
    padding: 9px 12px;
    background-color: rgba(255, 255, 255, 0.65);
    color: #000;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
    border-right: 1px solid #cecece;
    border-right: 1px solid #e1e1e1;
}

.qc-grid-hover-effect-button-area a.first-anchor {
    border-radius: 10px 0 0 10px;
    border-left: none;
}

.hover-effect-link a.second-anchor{
  border-radius: 0 0 0 0 !important;
}

.qc-grid-hover-effect-button-area a.third-anchor {
    border-radius: 0 10px 10px 0;
    border-right: none;
}

.qc-grid-hover-effect-button-area a:hover {
    background-color: #f1f1f1;
}

@media screen and (max-width: 1170px) {
    .qc-grid-hover-effect-button-area a {
        float: none;
        border-radius: 10px;
        margin: 2px;
    }

    .qc-grid-hover-effect-button-area a.first-anchor, .qc-grid-hover-effect-button-area a.second-anchor, .qc-grid-hover-effect-button-area a.third-anchor {
        border-radius: 10px;

    }
}
/*End of New Hover Effect*/


.qcld-portfolio-x-magnific-popup .mfp-close{
	position: fixed !important;
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */